.banner {
  overflow: hidden;
  position: relative;
  width: 100%;
  max-height: 92vh;
}
.content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content h1 {
  color: #f7f8f9;
  font-size: 48px;
  line-height: 1.17;
  margin-bottom: 24px;
  font-weight: 700;
}
.content ul li {
  font-size: 16px;
  line-height: 1.5;
  color: #f7f8f9;
  font-weight: 400;
}
.content ul li::before {
  content: "\25cf";
  color: #f7f8f9;
  font-weight: bold;
  flex: 0 0 auto;
  padding-right: 8px;
  font-size: 14px;
}
.content .desc {
  display: none;
  position: absolute;
  bottom: 43px;
  right: 23px;
  text-align: end;
}
.content .desc p {
  font-size: 20px;
  line-height: 1.4;
  color: #f7f8f9;
  font-weight: 700;
}
@media (min-width: 992px) {
  .content .desc {
    display: block;
  }
}
@media (max-width: 767px) {
  .content {
    align-items: unset;
    padding-top: 96px;
  }
  .content h1 {
    font-size: 38px;
  }
}
