.container-footer{
    display: flex;
    justify-content: center !important;
    background-color: #12151b;
}

.footer{
    max-width: 1200px;
    width: 100%;
    background-color: #12151b;
    min-height: 200px;
    color: #FFFFFF;
}

.footer1 svg{
    height: 20px;
    width: 20px;
}

.footer1 .freelancer-logo{
    height: 32px;
}

@media only screen and (max-width: 900px){
    .footer-col{
        border-bottom: solid .5px #f7f8f933;
    }
  }

.title-column{
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
    margin-bottom: 12px;
}

.text-item a {
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 450;
    text-decoration: none;
}

.text-item a:hover {
    text-decoration: underline !important;
}


.footer2{
    padding-top: 32px;
    padding-bottom: 48px;
}
.footer2 p {
    color: #FFFFFF;
    font-size: 13px;
    margin: 0px;
    padding: 0 12px;
}

.footer2-container{
    border-top: solid .5px #f7f8f933;
}

.footer2 p{
    font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.text-14{
    font-size: 14px !important;
    font-weight: 600;
}

.text-13{
    font-size: 13px !important;
}

.text-11{
    font-size: 11px !important;
}