.card {
  margin-bottom: 80px;
}
.img {
  width: 100%;
  margin-bottom: 40px;
}
.img img {
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: contain;
}
.content h3 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  line-height: 1.33;
  color: #0e1724;
  font-weight: 700;
  text-align: center;
}
.content p {
  margin-bottom: 16px !important;
  line-height: 1.6;
  margin: 0;
  font-size: 14px;
  color: #0e1724;
  text-align: center;
}
.button {
  text-align: center;
}
.button a {
  background: 0 0;
  border: 1px solid #75787d;
  color: #4d525b;
  font-weight: 700;
  text-shadow: 0 -1px transparent;
  /*  */
  padding: 8px 18px;
  font-size: 0.875rem;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  font-size: 14px !important;
}
.button a:hover {
  border: 1px solid black;
  color: black;
}
@media (max-width: 768px) {
  .card {
    margin: 10px 0;
  }
}
