.login-page {
  height: 100vh;
  background-color: #f7f8f9;
  padding-top: 16px;
}
.login-main {
  margin: 0 auto;
  max-width: 400px;
  padding: 48px 24px 24px;
  background-color: #303030;
  border-radius: 5px;
  box-shadow: 0 0 6px #bcc5d3;

  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  max-width: 352px;
}

.login-session {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-logo {
  display: flex;
  justify-content: center;
  position: relative;
}
.icon-back {
  position: absolute;
  top: 30%;
  left: 8%;
  cursor: pointer;
  color:#fff
}

.login-session > h2 {
  font-size: 20px;
  /* color: #12151b; */
  color: #fff;
  font-weight: 700;
  line-height: 1.4;

  text-align: center;
  margin-bottom: 32px;
}

.login-session > .login-fb {
  background-color: #4267b2;
  border: none;
  border-radius: 3px;
  color: #f7f8f9;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  font-size: 18px;
  font-weight: 700;
  padding: 8px 22px;
  margin-bottom: 24px;
  text-decoration: none;
}
.login-session > .login-gg {
  background-color: #fff;
  border: none;
  border-radius: 3px;
  color: #000000;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;

  font-size: 18px;
  font-weight: 500;
  padding: 8px 22px;
  margin-bottom: 24px;
  text-decoration: none;
}
.line-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}
.line {
  width: 100%;
  border-bottom: 1px solid #bcc5d3;
}

.line-text > .text {
  /* color: #12151b; */
  color: #fff;
  font-weight: 700;
  font-size: 13px;
  margin: 0 10px;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-form input {
  padding: 18px;
  border: 1px solid #bcc5d3;
  border-radius: 4px;
  height: 46px;

  font-size: 14px;
  width: 100%;
}

.login-form input:focus-visible {
  border: none;
  /* outline: 1px solid #589af0; */
  outline: none;
}

.login-form button {
  font-size: 20px;
  padding: 8px 22px;
  background-color: #ff9900;
  color: #f7f8f9;
  border: 1px solid #ff9900;
  border-radius: 3px;
  font-weight: 700;
  text-align: center;

  margin-bottom: 16px;
  margin-top: -5px;
}
.input-password {
  position: relative;
}

.input-error {
  border-color: #eb3730 !important;
  -webkit-appearance: none;
}

.input-validate-error {
  color: #eb3730;
  font-size: 13px;
  line-height: 1.2;
  margin-top: 10px;
}
.show-password {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 12px;
  right: 0;
  z-index: 1;
}

.remember-forget {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.remember-forget > p {
  color: #2d79ec;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 0px;
}

.remember-forget > p:hover {
  text-decoration: underline;
  color: #5dabf4;
}

.remember-forget > label {
  font-size: 14px;
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
  color: #fff;
}

.error-message {
  border: 1px solid #bcc5d3;
  border-left: 4px solid #ff624d;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 16px;

  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.error-message > p {
  font-size: 14px;
  font-weight: 400;
  color: #12151b;
  margin-right: 16px;
  margin-bottom: 0;
}

.error-message > .button-close {
  margin-top: -7px;
  cursor: pointer;
  font-size: 20px;
  color: #9da3ad;
  /* transition: transform 0.3s;
  display: inline-block; */
}
.error-message > .button-close:hover {
  color: black;
  /* transform: rotate(180deg); */
}
/* hr.divider{
  border: 1px solid ;
  z-index: 9999;
} */
@media screen and (max-width: 768px) {
  .login-main {
    width: 100%;
  }
}

.remember-forget input[type='checkbox'] {
  -webkit-appearance: none;
  margin-top: 3px;
  margin-right: 8px;
  vertical-align: top;
  background: #fff;
  /* border: 1px solid #ff9900; */
  height: 15px;
  width: 15px;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.remember-forget input[type='checkbox']:checked {
  background: #ff9900;
  outline: none;
  border: 1px solid #ff9900;
}

.remember-forget input[type='checkbox']:after {
  content: '';
  display: inline-block;
  position: relative;
  bottom: 4px;
  left: 4px;
  width: 5px;
  height: 10px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  -webkit-transform: rotate(45deg);
}
