.login-page {
  min-width: 768px;
  height: 100vh;
  background-color: #f7f8f9;
  padding-top: 16px;
}
.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 48px 24px 24px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 6px #bcc5d3;
  display: flex;
  justify-content: center;
}

.login-form {
  max-width: 352px;
}
