#search-form {
  box-shadow: 0 0 6px 0 rgb(0 0 0 / 12%), 0 4px 10px 0 rgb(0 0 0 / 16%);
  margin-bottom: 24px;
}
.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 4px;

  color: #0e1724;
  font-size: 14px;
}

.group-input {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.input {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
}
.input > input {
  height: 56px;
  border: 0;
  font-size: 18px;
  box-shadow: 0 0 0 1px transparent;
  color: #0e1724;
  width: 100%;
}

.input > input:focus-visible {
  outline: 0;
}
.btn-search {
  width: auto;
  background: #007fed;
  border: 1px solid #007fed;
  color: #f7f7f7;
  font-weight: 700;
  text-shadow: 0 -1px transparent;
  font-size: 1.25rem;
  padding: 12px 26px;
  text-align: center;
}
