.header-container {
  display: flex;
  justify-content: center !important;
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  z-index: 100000;
  box-shadow: 0 0 4px #3d4a5d14, 0 2px 4px #3d4a5d1f;
}

.header {
  background-color: #ffffff;
  height: 59px;
  max-width: 1200px;
  width: 100%;
}

.freelancer-logo {
  height: 100%;
  width: 100%;
}

.auth-btn a {
  color: #000000;
  text-decoration: none;
  line-height: 1.5;
}

.auth-btn a:hover {
  color: #1772eb;
}
.header-user{
  position: relative;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
.header-user p{
  margin-bottom: 0;
}
.header-user .header-user-options {
  top:120%;
  position: absolute;
  min-width: 250px;
  box-shadow: 0 0  3px rgba(0, 0, 0, 0.5);
  background: #fff;
  padding: 24px 12px;
  font-size: 14px;
  font-weight: 500;
  cursor: default;
  z-index: 99999;

}
.header-user-options p{
cursor: pointer;
margin-bottom: 0;
}
